---
import "../styles/index.css";
---

<!doctype html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/webp" href="/logo-sidomulyo.webp" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidomulyo Advertising</title>
  </head>
  <body class="bg-white text-[#1d1d1f]">
    <slot />
  </body>
</html>
